Datasets/
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
Anime_Recommender.egg-info/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
venv/
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
artifacts/raw/
artifacts/processed/
artifacts/weights/
artifacts/model/
artifacts/model_checkpoint/

